<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RestAssured_Automation/src/cucumber_Practise_AddApi/AddPlace.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cucumber_Practise_AddApi.AddPlace"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RestAssured_Automation"/>
</launchConfiguration>
